# WordPress Core (we don't version control this)
# wp-admin/
# wp-includes/
*.php
!wp-config.php
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php


# Uploads & Media (these belong on the server, not in Git)
# wp-content/
wp-content/plugins/all-in-one-wp-migration/
wp-content/plugins/elementor/
wp-content/plugins/surecart/
wp-content/plugins/surerank/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
assets/
elementor/
install-resource/
languages/
woocommerce/
template-parts/
# Caches & Temp files
wp-content/cache/
wp-content/et-cache/
wp-content/w3tc-config/
wp-content/wflogs/
*.log

# Node modules & build files (if using build tools)
node_modules/
dist/
*.map

# OS files
.DS_Store
Thumbs.db
*~

# Environment files
.env
.env.*
!.env.example
